
    <figure id="about" class="figure-image-one">
        <section class="index-section__wrapper">
            <h2 class="index-section__om-kumite">OM THE KUMITE</h2>
            <p class="index-section__text">KUMITESPORTS.COM ER EN DIGITAL PLATFORM FOR ALLE RING/MÅTTE KAMPSPORTUDØVERE. ÉN PLATFORM DER SKAL KUNNE GØRE DET NEMT FOR KLUBBER AT DELE SINE EVENTS, DELE NYHEDER, SØGE EFTER FIGHTERE ELLER  SPARRINGS PARTNERE OG MEGET MEGET MERE.. </p>
        </section>
    </figure>

    <section class="index-section__news-wrapper">
        <h2 class="index-section__om-kumite">DO YOU GOT WHAT IT TAKES?</h2>
        <p>The Kumite er en platform rettet mod k1, muay thai og kick boksning. Data om klubber, kæmpere, coaches og events mm. Formålet med appen er at lave en platform for klubber, fightere og tilskuer. klubber vil kunne oprette events stævner, tuneringer og registre Læge erklæringer, Matche fightere og lave kampprogram mm. </p>
    </section>
    
    <figure id="fighters" class="figure-image-two">
        <section class="index-section__wrapper">
            <h2 class="index-section__for-fightere">FOR FIGHTERE</h2>
            <p class="index-section__text">ER DU FIGHTER? ELLER TRÆNER DU KAMPSPORT? SÅ HAR DU NU MULIGHEDEN FOR AT OPRETTE DIN EGEN FIGHTERPROFIL. START EVENTYRET HER OG BYG DIT PORTFOLIO HER PÅ KUMITESPORTS.COM OM DET ER KAMPE, OPVISNING, GRADUERING ELLER ANDET SÅ ER KUMITESPORTS.COM PLATFORMEN AT DELE SIN NYHED.</p>
        </section>
    </figure>

    <section class="index-section__news-wrapper">
        <h2 class="index-section__om-kumite">START YOUR JOURNEY HERE!</h2>
        <p>The Kumite er en platform rettet mod k1, muay thai og kick boksning. Data om klubber, kæmpere, coaches og events mm. Formålet med appen er at lave en platform for klubber, fightere og tilskuer. klubber vil kunne oprette events stævner, tuneringer og registre Læge erklæringer, Matche fightere og lave kampprogram mm. </p>
    </section>

    <figure id="klub" class="figure-image-tree">
        <section class="index-section__wrapper">
            <h2 class="index-section__for-klubber">FOR KLUBBER OG FORBUND</h2>
            <p class="index-section__text">KUMITE ER EN NY PLATFORM FOR KLUBBER OG DETS MEDLEMMER. ÉN PLATFORM HVOR DER KAN ALT FRA AT AFHOLDE EVENTS, MATCHE FIGTHER, DIGITALT FIGHTCARD OG MEGET MERE..</p>
        </section>
    </figure>

    <section class="index-section__news-wrapper">
        <h2 class="index-section__om-kumite">BECOME A LEGEND</h2>
        <p>The Kumite er en platform rettet mod k1, muay thai og kick boksning. Data om klubber, kæmpere, coaches og events mm. Formålet med appen er at lave en platform for klubber, fightere og tilskuer. klubber vil kunne oprette events stævner, tuneringer og registre Læge erklæringer, Matche fightere og lave kampprogram mm. </p>
    </section>

    <figure id="dommere" class="figure-image-four">
        <section class="index-section__wrapper">
            <h2 class="index-section__for-tilskuer">FOR TILSKUER OG FANS</h2>
            <p class="index-section__text">DET ER NU MULIGT FOR ALLE KAMPSPORTS FANS AT FØLGE MED I ALLE EVENTS OG STATS PÅ FIGHTER OG KLUBBER.</p>
        </section>
    </figure>

    <section class="index-section__news-wrapper">
        <h2 class="index-section__om-kumite">BECOME A LEGEND</h2>
        <p>The Kumite er en platform rettet mod k1, muay thai og kick boksning. Data om klubber, kæmpere, coaches og events mm. Formålet med appen er at lave en platform for klubber, fightere og tilskuer. klubber vil kunne oprette events stævner, tuneringer og registre Læge erklæringer, Matche fightere og lave kampprogram mm. </p>
    </section>

    <figure id="dommere" class="figure-image-five">
        <section class="index-section__wrapper">
            <h2 class="index-section__for-tilskuer">FOR TILSKUER OG FANS</h2>
            <p class="index-section__text">DET ER NU MULIGT FOR ALLE KAMPSPORTS FANS AT FØLGE MED I ALLE EVENTS OG STATS PÅ FIGHTER OG KLUBBER.</p>
        </section>
    </figure>


